.footer {
  width: 100%;
  height: fit-content;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 2px white;
  gap: 0.5rem;

  @media (min-width: 768px) {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.2rem 0.5rem 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-top: 1.5rem;
  }

  &_icon {
    width: 2rem;
    @media (min-width: 768px) {
      padding-left: 1rem;
      width: 3rem;
    }
  }
  &_copy {
    color: white;
    font-size: 0.8rem;
  }

  &_media {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;

    @media (min-width: 768px) {
      padding-right: 1rem;
    }
  }
}

.fa-brands {
  color: white;
  margin: 0.3125rem 0 0 0.625rem;
  cursor: pointer;
  &:hover {
    transform: scale(140%);
    color: pink;
  }
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}
