.main {
  width: 100%;
  background-color: black;
}
.search_section {
  width: 100%;
  font: $font-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $greyish-brown;
  padding-top: 0.5rem;

  @media (min-width: 768px) {
    padding: 1rem;
  }
}
.form_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ffca33;
  border-radius: 5px;
  gap: 0.5rem;

  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
.input_text {
  font: $font-style-2;
  font-weight: bold;
  color: black;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.input_search {
  width: 8rem;
  font: $font-style-2;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  @media (min-width: 768px) {
    height: 1.7rem;
  }
}
.select {
  display: flex;
  flex-direction: column;
  text-align: center;
  font: $font-style-2;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  gap: 0.5rem;
  @media (min-width: 768px) {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0.5rem;
  }

  &--option {
    font: $font-style-2;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
  }
}
.errormsg {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: $font-style;
  font-size: 0.8rem;
  font-weight: bolder;
  color: #ffca33;
}

.section__list {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $greyish-brown;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.list_character {
  width: 8rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ffca33;
  border-radius: 5px;
  background-color: hsl(6, 21%, 38%);
  gap: 0.5rem;

  &_img {
    width: 5rem;
    height: 6.5rem;
  }

  &_div {
    font: $font-style;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bolder;
    gap: 1rem;
  }

  &_species {
    text-transform: uppercase;
  }
}
